{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<main>
    <section class="container py-5">
        <h1 class="text-center">Liverstoire</h1>
        <p class="text-center my-4">
            Liverstoire — l’histoire comme vous ne l’avez jamais lue
        </p>
    </section>
</main>
{% endblock %}
