<footer class="bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3">
                <h2>Liverstoire</h2>
                <p>Explorez l'histoire à travers des récits captivants et des faits fascinants.</p>
            </div>
            <div class="col-md-6 text-center mt-4">
                <p class="mb-0">&copy; 2025 Alexis Bessac. Tous droits réservés.</p>
            </div>
        </div>
    </div>
</footer>