{% extends 'base.html.twig' %}

{% block title %}New Periods{% endblock %}

{% block body %}
    <h1>Create new Periods</h1>

    {{ include('periods/_form.html.twig') }}

    <a href="{{ path('app_periods_index') }}">back to list</a>
{% endblock %}
