{% extends 'base.html.twig' %}

{% block title %}Modifier un évènement{% endblock %}

{% block body %}
<main>
    <section class="container py-5">
        <h1 class="text-center my-4">Modifier un évènement historique</h1>
    
        <a href="{{ path('app_admin_events_index') }}" class="btn btn-primary my-4" title="Revenir à la liste des évènements historiques">
            <i class="fas fa-arrow-left"></i> Revenir à la liste des évènements
        </a>
    
        <div class="card p-4 shadow-sm">
            {{ include('admin/events/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
    </section>
</main>
{% endblock %}
